# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Environment variables
*.env

# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Operating System
.DS_Store
Thumbs.db